html {
    font-size: 10px;
}

html * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing:content-box;
    font-family: "Barlow Condensed", sans-serif;
}

body{
    background-color: var(--red-02);
}

:root {
    --blue-01: rgba(93, 181, 213, 0.532);
    --blue-02: rgba(0, 199, 199, 0.247);
    --blue-03: rgb(0, 142, 142);
    --blue-04: rgb(0, 44, 44);

    --red-01: rgb(255, 170, 0);
    --red-02: rgba(199, 103, 0, 0.863);
    --red-02-op04: rgba(199, 103, 0, 0.4);
    --red-03: rgb(142, 43, 0);
    --red-04: rgb(75, 0, 0);
    --red-04-op04: rgb(75, 0, 0, .4);
}

header {
   /* background-color: var(--blue-02); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0; /* create a stacking context */
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    left: -20rem;
    bottom: -50vh;
    width: 100rem;
    height: 100rem;
    background-image: url(../img/scultura-removebg-preview-no-sfondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1rem 1rem 1rem black);
    z-index: -1;
    opacity: .6;
    filter:blur(4px);
    animation: backgroundImage 3s linear infinite;;

}

@keyframes backgroundImage{
    0%, 100%{ 
        transform: translate(0, 0);
    }
    25%{
        transform: translate(.5rem, .5rem);
    }
    50%{
        transform: translate(0, 0);
    }
    75%{
        transform: translate(-.5rem, -.5rem);
    }
}

header h1 {
    position: relative;
    z-index: 2;
    font-weight: 100;
    font-size: 12rem;
    color: var(--color-04);
}

header h1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8rem;
    transform: translateX(-50%);
    width: 8rem;
    height: 8rem;
    background-image: url(../img/svg/museum-svgrepo-com.svg);
    background-size: contain;
}

/* SEZIONE 1 ********************************************* */

.grid-container{
    /* width: 60rem; */
    /* height: 60rem; */
    margin: 0 auto;
    display: grid;
    grid-template: 18rem 18rem 18rem/15rem 15rem 15rem;
    gap: 2rem;
    /* overflow: hidden; */
    animation: gapLOL 4s linear infinite;
    position: relative;
    z-index: 0;

}

@keyframes gapLOL{
    0%, 100%{
        gap: 2rem;
    }
    25% {gap: 2.5rem;
    }
    50%{
        gap: 3rem
    }
    75%{gap: 2.5rem}
}

.container-01, .container-02{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    width: 80rem;
    
}

.container-01{
    background-color: var(--red-04);
    
}


.container-01 h2, .container-02 h2{
    position: absolute;
    top: 1.5rem;
    font-weight: 200;
    font-size: 4.3rem;
    z-index: 1;
}

.container-01 h2{
    color: var(--red-02);
    background-color: var(--red-04-op04)

    
}
.container-02 h2{
    color: var(--red-04);
    font-weight: 700;
    background-color: var(--red-02-op04);

}

.grid-item-01:nth-child(1){
    grid-area: 1/1/3/2;
    background-size: 700%;
    background-position: 45% 20%;
}

.grid-item-01:nth-child(7){
    grid-area: 4/3/2/4;
    background-size: 350%;
    background-position: 50% 30%;
    
}


.grid-item-02:nth-child(1){
    grid-area: 1/1/3/2;
    background-size: 700%;
    background-position: 45% 20%;
}

.grid-item-02:nth-child(7){
    grid-area: 4/3/2/4;
    background-size: 350%;
    background-position: 50% 10%;
    
}

.grid-item-01, .grid-item-02{
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    background-repeat:no-repeat;
    border-radius: 2rem;
}

.grid-item-01{
    background-image: url(../img/quadro.png);
    background-position: 50% 40%;
        box-shadow: 1rem 1rem 1rem 0rem black;


}

.grid-item-02{
    background-image: url(../img/scultura.png);
    background-position: 50% 0%;
    filter: contrast(60%);
    box-shadow: 1rem 1rem 1rem 0rem var(--red-04);
}

.text-container-01, .text-container-02{
    position: absolute;
    padding-left: 15rem;
    font-size: 1.8rem;
    font-weight: 500;
    bottom: 3rem;
    /* filter: blur(5px);   */
    z-index: 1;
}

.text-container-01 p, .text-container-02 p{
    z-index: 2;
}

.text-container-01{
    color: var(--red-02);
    background: var(--red-04-op04);
}

.text-container-02{
    color: var(--red-04);
    background-color: var(--red-02-op04)
}